<div class="block md:flex items-center justify-between  font-mono mb-9 ">
    <div class="flex items-center justify-center gap-3 md:justify-normal">
      <img src="assets/Images/General/Icons/shopping-cart.svg" class="w-20 cart" alt="Cart Shoper Nova">
      <h1 class="text-main-color text-3xl sm:text-5xl">
      {{headerTitle}}
    </h1>
    </div>
    <div>
  </div>
  <div class="flex flex-col items-center mt-6 md:mt-0">
    <img src="assets/Images/General/images/shopping-app.svg" class="w-32 rotate-y hidden md:block" alt="Cart Shoper Nova">
    <h5 class="text-secondry-text-color text-xl sm:text-3xl">
      Welcome To Our E-Cart
    </h5>
  </div>
</div>
