<div class="card">
  <p-galleria
      [value]="images"
      [showIndicators]="false"
      [showItemNavigatorsOnHover]="true"
      [showItemNavigators]="true"
      [responsiveOptions]="responsiveOptions"
      >
          <ng-template pTemplate="item" let-image>
              <img [src]="image" style="width: 100%; display: block;" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-image>
              <div class="grid grid-nogutter justify-content-center">
                  <img [src]="image" style="display: block;" />
              </div>
          </ng-template>
  </p-galleria>
</div>
