<div class="w-full bg-violet-800 rounded-3xl text-neutral-300 flex flex-col items-start justify-center gap-3 transition-all hover:bg-violet-900 hover:shadow-2xl hover:shadow-violet-400">
  <div [routerLink]="['/product',product._id]" class="cursor-pointer rounded-2xl w-full">
    <img [src]="product.imageCover" class="size-full max-h-96 rounded-2xl" [alt]="product.title">
  </div>
  <div class="p-4 w-full">
  <div class="my-3 w-full">
      <p class="font-extrabold">{{product.title.split(" ").splice(0,3).join(" ")}}</p>
      <div class="flex items-center justify-between w-full">
        <div class="flex items-center gap-1 mt-3">
          <img src="assets/Images/General/Icons/star.svg" width="18" alt="star">
          <small class="text-sm font-mono font-semibold">{{product.ratingsAverage}}</small>
        </div>
        <div class="price">
          <small class="text-sm font-mono font-semibold">
            {{(product.price |  currency:'EGY ' )}}
          </small>
        </div>
      </div>
      <div class="flex my-4 items-center justify-between">
        <div class="category">
          <span class="bg-violet-100 text-violet-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-xl">{{product.category.name}}</span>
        </div>
        <div class="brand">
          <span class="bg-violet-100 text-violet-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-xl ">{{product.brand.name}}</span>
        </div>
      </div>
  </div>
  <button class="bg-violet-700 font-extrabold p-2 px-6 rounded-xl hover:bg-violet-500 transition-colors text-white">Add To Cart</button>
  </div>
</div>
