<app-header
[headerTitle]="'ShoperNova'"
[subHeader]="'Your Cart'"
[subImage]="'assets/Images/General/images/shopping-app.svg'"
/>
@if (cartService.cartResponse().cartId != undefined) {
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-full order-last md:order-first md:col-span-9 lg:col-span-8">
    @for (product of this.cartService.currentCart().products; track product._id) {
        <div class="w-full" [ngClass]="$index === 0 ? 'mb-3' :'my-3'">
          <app-cart-card
            [product]="product"
          />
        </div>
    }
  </div>

    <div class="col-span-full order-first md:order-last md:col-span-3 lg:col-span-4">
      <div class="border-secondry-text-color border-2 rounded-xl p-3">
        <h4 class="text-2xl text-main-color text-center">
          Cart Summary
        </h4>
        <p class="my-4">
          <span class="font-mono font-bold text-violet-800 text-base lg:text-2xl">Cart Price :</span> {{cartService.cartResponse().data.totalCartPrice | currency:'EGY '}}
        </p>
        <p class="my-4">
          <span class="font-mono font-bold text-violet-800 text-base lg:text-2xl">Items Count :</span> {{cartService.cartResponse().numOfCartItems}}
        </p>
        <p class="my-4">
          <span class="font-mono font-bold text-violet-800 text-base lg:text-2xl">First Item :</span> {{cartService.cartResponse().data.createdAt | date:'mediumDate' }}
        </p>
        <p class="my-4">
          <span class="font-mono font-bold text-violet-800 text-base lg:text-2xl">Last Update :</span> {{cartService.cartResponse().data.updatedAt| date:'medium' }}
        </p>
        <button (click)="clearCart()" class="bg-main-color px-4 py-2 w-full text-white rounded-xl">
          Reset Cart
        </button>
      </div>
    </div>
  </div>
}
@else {
  <h1 class="text-xl md:text-3xl text-center font-bold text-red-500">
    No Products At Your Cart
  </h1>
}
<!-- <app-modal
  [product]="product()"
  [visible]="modalVisable"
  (closed)="closeModal($event)"
/> -->
