<app-header
[headerTitle]="'ShoperNova'"
[subHeader]="'Your Cart'"
[subImage]="'assets/Images/General/images/shopping-app.svg'"
/>
@if (cartService.cartResponse().cartId != undefined) {
  <div class="grid grid-cols-12 gap-4">
    <div class="header col-span-full flex items-center justify-between">
        <p>
          <span class="font-mono font-bold text-violet-800 text-2xl">Cart Price :</span> {{cartService.cartResponse().data.totalCartPrice | currency:'EGY '}}
        </p>
        <button (click)="clearCart()" class="bg-main-color px-4 py-2 text-white rounded-xl">
          Reset Cart
        </button>
    </div>
    @for (product of this.cartService.currentCart().products; track product._id) {
      <div class="col-span-full">
        <app-cart-card
        [product]="product"
        />
      </div>
    }
  </div>
}
@else {
  <h1 class="text-xl md:text-3xl text-center font-bold text-red-500">
    No Products At Your Cart
  </h1>
}
<!-- <app-modal
  [product]="product()"
  [visible]="modalVisable"
  (closed)="closeModal($event)"
/> -->
