<section class="min-h-dvh flex items-center justify-center bg-gray-color">
  <div class="size-11/12 flex shadow-lg p-2 rounded-xl  flex-col-reverse md:flex-row bg-[#f9f9f9]">
    <div class="flex-1 flex items-center justify-center shadow-md p-2 bg-main-color rounded-lg">
      <img src="assets/Images/Auth/forget_password.svg" alt="forget password">
    </div>
    <div class="flex-1 p-2.5 md:p-5 flex flex-col justify-center">
      <h3 class="text-center text-lg md:text-3xl font-sans font-bold text-main-color">
        Reset Your Password
      </h3>
      <div class="flex-1 flex flex-col justify-center mb-7 sm:mb-14">
        <app-send-otp
        (canSubmitOtp)="reciveCanOtbSubmit($event)"
        />
      </div>
      <div class="flex-1 flex flex-col justify-center mb-7 sm:mb-14">
        <app-submit-otp
          [isOtpSubmit]="submitOtb"
        />
      </div>
    </div>

  </div>
</section>
