<button (click)="toggleDropDown()" class="text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center w-full" type="button">Filter By <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
  </svg>
  </button>
  <div class="z-40 bg-white divide-y divide-violet-100 rounded-lg shadow-sm w-[80%] sm:w-fit lg:w-56" [ngClass]="isDropDownShow() ? 'absolute':'hidden'">
    <div class="py-2">
        <button (click)="toggleInsideDropDown()" type="button" class="text-violet-700 flex items-center justify-between w-full px-4 py-2 hover:bg-violet-100">
          Category
          <svg class="w-2.5 h-2.5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
           </svg>
        </button>
            <div class="z-50 bg-white divide-y divide-violet-100 rounded-lg shadow-sm w-44" [ngClass]="isInsideDropDownShow()?'absolute':'hidden'">
              <ul class="py-2 text-sm text-violet-700" aria-labelledby="doubleDropdownButton">

                @for (category of allCategories(); track $index) {
                  <li (click)="selectedValue(category.name)">
                    <a class="block cursor-pointer px-4 py-2 hover:bg-violet-100">{{category.name}}</a>
                  </li>
                }
              </ul>
          </div>
      </div>
      <div (click)="selectedValue('highPrice')" class="py-2">
        <a class="block cursor-pointer px-4 py-2 text-sm text-violet-700 hover:bg-violet-100">Highest price</a>
      </div>
      <div (click)="selectedValue('lowPrice')" class="py-2">
        <a class="block cursor-pointer px-4 py-2 text-sm text-violet-700 hover:bg-violet-100">Lowest price</a>
      </div>

      <div (click)="selectedValue('topRate')" class="py-2">
        <a class="block cursor-pointer px-4 py-2 text-sm text-violet-700 hover:bg-violet-100">Top Rated</a>
      </div>

  </div>
