@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --main-color:#2c2c54 ;
  --gray-color:#f0f0f0 ;
  --hover-color:#1a1a3e ;
  --secondry-text-color:#b0b0d0 ;
  --btn-color:#3498db  ;
}
ul.p-carousel-indicators{
  display: none;
}
.p-galleria .p-galleria-thumbnail-container{
  background: var(--hover-color);
  border-radius: 12px;
}
.p-ripple.p-element.p-galleria-thumbnail-next.p-link,
.p-ripple.p-element.p-galleria-thumbnail-prev.p-link{
  color: var(--secondry-text-color);
}

@media screen and (max-width:768px) {
  .p-galleria .p-galleria-thumbnail-container{
    max-height: 200px;
    max-width: 300px;
    margin: 0 auto;
    img{
      width: 100%;
      max-height: 200px;
    }
  }

}
